h1
{
    border-style: dotted;
    border-radius: 10px;

}
h2
{
    border-top: dashed;
    border-bottom: dotted;
    border-left: dashed;
    border-right: dotted;
    border-color: blueviolet;
}

p
{
    color: blue;
    border-style:solid;
    border-color: brown;
    border-radius: 20px ;
    border-width: 20px;

}
h3{
    color: greenyellow;
  border-width: 30px;
margin: 20px;
  border: 10px solid red;
  padding: 15px;
  border-image: url("pic_trulli.jpg") 50 round;
}